#header1 {
  border-bottom: solid 2px rgb(55, 180, 218);
  font-size: 30px;
  margin-bottom: 15px;
}

.logotodo {
  font-size: 30px;
}

.buttonsH {
  border: solid 2px aqua;
  border-radius: 20px;
  padding: 6px;
}
.buttonsH:hover {
  background-color: lightsteelblue;
}
