footer {
  display: flex;
  max-height: 250px;
  position: absolute;
  width: 100%;
  background-color: aqua;
  align-items: center;
  bottom: 0;
}

footer div {
  align-items: center;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  font-size: 20px;
  color: black;
}

footer a {
  text-decoration: none;
  color: black;
}
